/** @format */
.full {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.head {
  position: absolute;
  left: 0;
  right: 0;
  height: 39px;
  line-height: 35px;
  border-bottom: 1px solid #bfbfbf;
}
.head .head-list {
  position: relative;
  display: inline-block;
  font-size: 14px;
  padding-left: 15px;
}
.head .list-name {
  padding: 0 5px;
  position: relative;
  cursor: pointer;
  transition: all 0.15s;
  color: #444;
}
.head .list-name:hover {
  color: #ff0000;
}
.head .head-items {
  display: inline-block;
}
.head .head-items:hover .list-item {
  display: block;
}
.head .list-item {
  z-index: 1;
  position: absolute;
  min-width: 70px;
  background: #fff;
  border: 1px solid #bfbfbf;
  display: none;
}
.head .list-item .list-item-name {
  line-height: 18px;
  padding: 3px 6px;
  transition: all 0.15s;
  cursor: pointer;
}
.head .list-item .list-item-name:hover {
  color: #ff0000;
}
.left {
  position: absolute;
  left: 0;
  right: 300px;
  top: 40px;
  bottom: 0;
}
.t-items {
  line-height: 24px;
  padding: 2px 4px;
  font-size: 14px;
}
.t-items > div {
  vertical-align: text-top;
}
.t-items .t-items-title {
  position: relative;
  padding-right: 10px;
  display: inline-block;
  line-height: 28px;
}
.t-items .t-items-title::after {
  content: "：";
  position: absolute;
  right: -5px;
  top: 2px;
  line-height: 24px;
  display: inline-block;
}
.t-items .t-item-box {
  display: inline-block;
}
.right {
  position: absolute;
  right: 0;
  width: 299px;
  top: 40px;
  bottom: 0;
  border-left: 1px solid #bfbfbf;
}
.right .t-box {
  width: 100%;
  height: 50%;
}
.right .t-model {
  top: 0;
  position: absolute;
  width: 100%;
  height: 50%;
}
.right .t-shows {
  bottom: 0;
  position: absolute;
  border-top: 1px solid #bfbfbf;
  width: 100%;
  height: 50%;
}
.edit-ben {
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: 70px;
}
.edit-ben > button {
  margin-left: 10px;
  margin-bottom: 10px;
}
.t-item-inputs {
  display: flex;
}
.t-item-inputs > div {
  flex: 1;
}
.f-1 {
  flex: 1;
}
.layer-items .layer-item {
  font-size: 12px;
  line-height: 24px;
  color: #444;
  transition: all 0.15s;
  padding-bottom: 10px;
}
.layer-items .layer-item-list {
  display: flex;
  margin: 2px 0;
}
.layer-items .layer-item-list > div:first-child {
  width: 80px;
  text-align: right;
}
.layer-items .layer-item-name {
  cursor: pointer;
  min-height: 24px;
  position: relative;
  background: #efefef;
  border-bottom: 1px solid #bfbfbf;
}
.layer-items .layer-item-name > span {
  padding-right: 15px;
}
.features {
  position: absolute;
  display: inline-block;
  border: 1px solid #bfbfbf;
}
.features .features-item {
  line-height: 24px;
  height: 24px;
  background: #fff;
  font-size: 14px;
  width: 70px;
  text-align: center;
  border-bottom: 1px solid #bfbfbf;
  cursor: pointer;
}
.features .features-item:hover {
  color: #ff0000;
  background: #ededed;
}
.t-show-item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 35px;
}
.t-show-head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  display: flex;
  border-bottom: 1px solid #bfbfbf;
}
.t-show-head li {
  line-height: 35px;
  font-size: 14px;
  cursor: pointer;
  padding-right: 15px;
}
.tree-items .tree-name {
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  cursor: pointer;
}
.tree-items .tree-items {
  padding-left: 15px;
}
.effectCom-items {
  position: relative;
  width: 33.33%;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  user-select: none;
  float: left;
}
.effectCom-items:hover {
  background: #ededed;
}
.effectCom-items .effectCom-items-name {
  line-height: 24px;
  height: 24px;
}
.effectCom-items .effectCom-items-box {
  height: 65px;
}
.uploadUvImg {
  width: 40px;
  height: 30px;
  vertical-align: middle;
}
